/*CSS RESET*/
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/**********IMAGE/SLIDER STYLING**********/
/*don't show the other images*/
#cssSlider { 
  position: relative; 
  overflow: hidden; 
}

/*the size of the responsixe slider, 
just replace your value based on the ratio equation*/
#cssSlider { 
  padding-bottom: 43.95%;/*to find % aspect ratio, (height/width)100*/
  height: 0;
}

/*size of the images*/
#cssSlider img {  
  width: 100vw;
  height: 100%; 
  float: left;
}

/*transition slider size*/
#sliderImages { 
  position: absolute; 
  width:600vw;  
  animation-name:slider;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
} /*this extra } has to be here or slider is broken, 
idk why, have spent hourstrying to figure out why. 
It has to be exactly after this block of code, 
anywhere else breaks the slider*/

#sliderImages img { 
  float: right; 
}

/**********SLIDER TEXT**********/
.slideText{
    position: absolute;
    bottom: 0;
    padding: 1em;
    margin: 2em;
    background-color: #d9c53f;
    border-radius: 1em;
}
.slideText p{
    padding: 0;
    margin: 0;
    font-size: 3em;
}

.slideText {  
  animation-name: textBounce;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}

/**********PLAY PAUSE**********/
/*play pause appearance*/
.playPause{
    display: none;
}
#playPauseLabel{
    width: 100%;
    height: 100%;
    position: absolute; 
    z-index: 13;
}
#cssSlider:after { 
  content: "❚❚"; 
  font-size: 8em; 
  position: absolute; 
  z-index: 12; 
  color: #d9c53f;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all ease-in-out; 
}

#cssSlider:hover:after { 
  opacity: 1;  
}

.playPause:checked ~ #cssSlider:after{
    content: "►"; 
}

/*pause the show*/
.playPause:checked ~ #cssSlider #sliderImages{
    animation-play-state:paused;
}
.playPause:checked ~ #cssSlider #sliderImages .slideText{
    animation-play-state:paused;
}


/**********ANIMATIONS**********/
/*slider*/
@keyframes slider {  
    0% { left: 0; opacity: 1; }
    10% { left: 0; opacity: 1; }
    16.6% { left: -100vw; opacity: 1; } 
    26.6% { left: -100vw; opacity: 1; }
    33.2% { left: -200vw; opacity: 1; }
    43.2% { left: -200vw; opacity: 1; }
    49.8% { left: -300vw; opacity: 1; }
    59.8% { left: -300vw; opacity: 1; }
    66.4% { left: -400vw; opacity: 1; }
    76.4% { left: -400vw; opacity: 1; }
    86.4% { left: -500vw; opacity: 1; }
    96.4% { left: -500vw; opacity: 1; }
    100% { left: 0; opacity: 1; }
}

/*text*/
@keyframes textBounce {  
    0% { transform:translateY(-50%); opacity: 0; }
    
    1% { transform:translateY(10%); opacity: 1; }
    1.5% { transform:translateY(0%); opacity: 1; }
    9% { transform:translateY(0%); opacity: 1; }
    9.5% { transform:translateY(10%); opacity: 1; }
    
    10% { transform:translateY(-50%); opacity: 0; }
    16.6% { transform:translateY(-50%); opacity: 0; }
    
    17.6% { transform:translateY(10%); opacity: 1; }
    18.1% { transform:translateY(0%); opacity: 1; }
    25.6% { transform:translateY(0%); opacity: 1; }
    26.1% { transform:translateY(10%); opacity: 1; }
    
    26.6% { transform:translateY(-50%); opacity: 0; }
    33.2% { transform:translateY(-50%); opacity: 0; }
    
    34.2% { transform:translateY(10%); opacity: 1; }
    34.7% { transform:translateY(0%); opacity: 1; }
    42.2% { transform:translateY(0%); opacity: 1; }
    42.7% { transform:translateY(10%); opacity: 1; }
    
    43.2% { transform:translateY(-50%); opacity: 0; }
    49.8% { transform:translateY(-50%); opacity: 0; }
    
    50.8% { transform:translateY(10%); opacity: 1; }
    51.3% { transform:translateY(0%); opacity: 1; }
    58.8% { transform:translateY(0%); opacity: 1; }
    59.3% { transform:translateY(10%); opacity: 1; }
    
    59.8% { transform:translateY(-50%); opacity: 0; }
    66.4% { transform:translateY(-50%); opacity: 0; }
    
    67.4% { transform:translateY(10%); opacity: 1; }
    67.9% { transform:translateY(0%); opacity: 1; }
    75.4% { transform:translateY(0%); opacity: 1; }
    75.9% { transform:translateY(10%); opacity: 1; }
    
    76.4% { transform:translateY(-50%); opacity: 0; }
    86.4% { transform:translateY(-50%); opacity: 0; }
    
    87.4% { transform:translateY(10%); opacity: 1; }
    87.9% { transform:translateY(0%); opacity: 1; }
    95.4% { transform:translateY(0%); opacity: 1; }
    95.9% { transform:translateY(10%); opacity: 1; }
    
    96.4% { transform:translateY(-50%); opacity: 0; }
    100% { transform:translateY(-50%); opacity: 0; }
}

/*FOR MOBILE*/
@media screen and (max-width: 1000px){
    .slideText{
        display: none;
    }
    #cssSlider:after { 
        font-size: 3em; 
    }
}