/**********BEGIN GLOBAKL CSS**********/
/*FONT IMPORT*/
@font-face {
    font-family: roboto-regular;
    src: url(roboto-regular.ttf);
}

/*CSS RESET*/
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*FONT*/
*{
	font-family: 'roboto-regular';
	color:#5B5B5B;
}

/*LINK COLOR*/
#content a{
    transition: .25s linear;
}
#content a:hover{
	color:#FF6A00;
}

/*NAV BAR*/
/* Navigation Menu - Background */
#nav {
  background-color:#d9c53f;
    
  /* critical sizing and position styles */
  width: 14em;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
    
  /*for scrolling*/
  max-height: 100vh;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
    
}

/* Navigation Menu - List items */
#nav ul{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: square;
}
#nav ul li {
  /* non-critical appearance styles */
  width: 100%;
  transition: background-color .3s linear;
  display:block;
  overflow: hidden;
}
#nav ul li:hover{
  background-color: #cab83b;
}
#nav p{
	text-align:left;
	font-size:1.5em;
    padding-left: 1em;
}
#nav a.currentPage{
	color: #9ba0a0;
}
#nav a {
	display: block;
    padding: 3em;
    margin: -3em;
	color:white;
	text-decoration:none;
	font-weight:bold;
    transition: .3s linear;
}
#nav a:hover{
	color: #9ba0a0;
}

/* Site Wrapper - Everything that isn't navigation */
#wrapper {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

/*following header*/
#blueBlock{
    width: 100%;
    height:5em;
    background-color: #d9c53f;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
    transition: .5s linear;
}
.nav-trigger:checked ~ #blueBlock {
    box-shadow: 0 0 7px 7px rgba(0,0,0,0.4);
}
#headerNav img{
    position: absolute;
    position: fixed;
    top: .25em;
    left:1em;
    height:4.5em;
    z-index: 11;
}
#moverBlock{
  height:5em; 
  width:100%; 
  background-color: white;
}

/* Pure CSS3 Hamburger*/
.clear-menu-btn {
  position: fixed;
  right: 1em; top: 1em;
  z-index: 12;
  width: 3em;
  height: 3em;
  margin: 0 auto;
}
.nav-trigger:hover {
  cursor: pointer;
}
.nav-trigger:checked ~ .clear-menu-btn .top,
.nav-trigger:checked ~ .clear-menu-btn .bottom {
  top: 50%;
}
.nav-trigger:checked ~ .clear-menu-btn .top {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 2.6em;
  margin-left: .23em;
  margin-bottom: .2em;
}
.nav-trigger:checked ~ .clear-menu-btn .bottom {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 2.6em;
  margin-left: .23em;
  margin-bottom: .2em;
}
.nav-trigger:checked ~ .clear-menu-btn .middle {
  filter: alpha(opacity=0);
  opacity: 0;
}
.clear-menu-btn span {
  position: absolute;
  display: block;
  width: 1.5em;
  height: .2em;
  background-color: #9ba0a0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.clear-menu-btn .top {
  top: 35%;
  margin-left: .75em;
}
.clear-menu-btn .middle {
  top: 50%;
  margin-left: .75em;
}
.clear-menu-btn .bottom {
  top: 65%;
  margin-left: .75em;    
}
.clear-menu-btn .circle {
  display: block;
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 2.5em;
  height: 2.5em;
  background-color: transparent;
  border-radius: 50%;
  border: .2em solid #9ba0a0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input*/
  position: fixed;
  z-index: 13;
  top: 1em;
  right:1em;
  height:4em;
  width: 4em;
  filter: alpha(opacity=0);
  opacity: 0;
}

/* Make the Magic Happen */
#wrapper {
  transition: right .5s;
}

.nav-trigger:checked ~ #wrapper {
    /*The window*/
    right: 14em;
}

/* Without this, the body has excess horizontal scroll when the menu is open */
body {
  overflow-x: hidden;
}

/*FOOTER*/

/*FOOTER CONTENT*/
#footerContent{
	height:100%;
	width:100%;
    padding-left: 10%;
}

#footerContent img{
    height: 2.5em;
    vertical-align: middle;
    padding-left: 0;
    padding-right: .2em;
    margin: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#footerContent p{
    color: #9ba0a0;
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .4em;
    padding-right: 0;
    margin: 0;
}
#bduke{
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
    bottom: 0;
    right: 0;
}
#bduke a{
    font-size: 1em;
    color: #9ba0a0;
    text-decoration: none;
}

/*FOOTER> KEEP AT BOTTOM*/
html,
body {;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom:6em; /* Height of the footer element */
}
#footer {
	background:#594444;
	width:100%;
	height:8em;
	position:absolute;
	bottom:0;
	left:0;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}

/**********END GLOBAKL CSS**********/

/**********BEGIN HOME PAGE**********/

/*SEPERATE SLIDESHOW FROM CONTENT*/
.seperator{
	width:100%;
	height:1em;
}

/*PAGE SIZE*/
#mainHome{
	margin-left: auto;
    margin-right: auto;
	width:90%;
}

/*TEXT*/
#mainHome p{
	text-align:center;
	font-size:1.4em;
}

/**********END HOME PAGE**********/

/**********BEGIN CONTACT US**********/

/*PAGE SIZE*/
#mainContact{
	margin-left: auto;
    margin-right: auto;
	width:90%;
}

/*IFRAME*/
#iframeWrapper{
    width: 100%;
    height: 90vh;
    padding-bottom: 2em;
}
#iframeWrapper iframe{
    width: 100%;
    height: 100%;
}

/**********END CONTACT US**********/

/**********BEGIN SPONSORING**********/

/*PAGE SIZE*/
#mainSponsoring{
	margin-left: auto;
    margin-right: auto;
	width:90%;
}

/**********END SPONSORING**********/

/**********BEGIN ABOUT**********/

/*PAGE SIZE*/
#mainAbout{
	margin-left: auto;
    margin-right: auto;
	width:90%;
}

/**********END ABOUT**********/

/**********BEGIN MEDIA**********/

/*PAGE SIZE*/
#mainMedia{
	margin-left: auto;
    margin-right: auto;
	width:90%;
}

/**********END MEDIA**********/

/**********BEGIN RESOURCES**********/

/*PAGE SIZE*/
#mainResources{
	margin-left: auto;
    margin-right: auto;
	width:90%;
}

/**********END RESOURCES**********/

/**********BEGIN CALENDAR**********/

/*PAGE SIZE*/
#mainCalendar{
	width:100%;
	height:30em;
	margin:2em auto 2em auto;
}

/*FLUID CALENDAR*/
#calendar{
	width:100%;
	height:100%;
	margin:0 auto;
}

/**********END CALENDAR**********/

/**********BEGIN CCD**********/

/*PAGE SIZE*/
#mainCCD{
	margin-left: auto;
    margin-right: auto;
	width:90%;
}

/**********END CCD**********/