/*NAV:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    /*NAV BAR*/
    #navContainer * {
        padding: 0;
        margin: 0;
    }
    #navContainer {
        position: relative;
        height: 6em;
        width: 100%;
        background-color: $mainColor;
        /*background-image: url(../contents/grass.png);
    background-position: bottom;*/
    }
    #nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
    #nav ul {
        height: 100%;
        list-style: none;
        position: relative;
        float: left;
        padding-right: 2.5em;
        z-index: 2;
    }
    #nav ul li {
        height: 100%;
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
        transition: background-color .3s linear;
    }
    #nav a.currentPage {
        color: #666a6a;
    }
    #nav ul li:hover {
        background: $mainColorShade;
    }
    #nav ul li a:hover {
        color: $navHoverColor;
    }
    #nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: $mainColor;
        ;
        padding: 0;
        width: 100%;
    }
    #nav ul ul li {
        float: none;
        width: 100%;
    }
    #nav ul ul ul {
        top: 0;
        left: 100%;
    }
    #nav ul li:hover> ul {
        display: block;
    }
    /*TEXT*/
    #nav a {
        display: block;
        text-align: center;
        height: 3.5em;
        width: 100%;
        color: $navText;
        text-decoration: none;
        font-weight: bold;
        transition: .3s linear;
        padding-top: 2.5em;
        overflow: hidden;
    }
    #nav p {
        font-size: 1em;
        letter-spacing: .1em;
        padding-left: .8em;
        padding-right: .8em;
        padding-bottom: 0;
        padding-top: 0;
    }
    /*IMAGE*/
    #navContainer img {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 2.5em;
        height: 5em;
    }
    /*MOBILE NAV*/
    #nav-trigger {
        display: none;
    }
    #blueBlock {
        display: none;
    }
    .clear-menu-btn {
        display: none;
    }
    #navHome {
        display: none;
    }
}


/*NAV:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    /*NAV BAR*/
    /* Navigation Menu - Background */
    #nav {
        background-color: $mainColor;
        /*background-image: url(../contents/grass.png);
  background-repeat: no-repeat;
  background-position: bottom;*/
        /* critical sizing and position styles */
        width: 14em;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        /*for scrolling*/
        max-height: 100vh;
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
    }
    /* Navigation Menu - List items */
    #nav ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: square;
    }
    #nav ul li {
        /* non-critical appearance styles */
        width: 100%;
        transition: background-color .3s linear;
        display: block;
        overflow: hidden;
    }
    #nav ul li:hover {
        background-color: $mainColorShade;
    }
    #nav p {
        text-align: left;
        font-size: 1.5em;
        padding-left: 1em;
    }
    #nav a.currentPage {
        color: #666a6a;
    }
    #nav a {
        display: block;
        padding: 3em;
        margin: -3em;
        color: $navText;
        text-decoration: none;
        font-weight: bold;
        transition: .3s linear;
    }
    #nav a:hover {
        color: $navHoverColor;
    }
    /* Site Wrapper - Everything that isn't navigation */
    #wrapper {
        /* Critical position and size styles */
        min-height: 100%;
        min-width: 100%;
        background-color: white;
        /* Needs a background or else the nav will show through */
        position: relative;
        top: 0;
        bottom: 100%;
        right: 0;
        z-index: 1;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    /*following header*/
    #blueBlock {
        width: 100%;
        height: 5em;
        background-color: $mainColor;
        /*background-image: url(../contents/grass.png);
    background-position: bottom;*/
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 10;
        transition: .5s linear;
    }
    .nav-trigger:checked~ #blueBlock {
        box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.4);
    }
    #navContainer img {
        position: absolute;
        position: fixed;
        top: .25em;
        left: 1em;
        height: 4.5em;
        z-index: 11;
    }
    #moverBlock {
        height: 5em;
        width: 100%;
        background-color: white;
    }
    /* Pure CSS3 Hamburger*/
    .clear-menu-btn {
        position: fixed;
        right: 1em;
        top: 1em;
        z-index: 12;
        width: 3em;
        height: 3em;
        margin: 0 auto;
    }
    .nav-trigger:hover {
        cursor: pointer;
    }
    .nav-trigger:checked~ .clear-menu-btn .top,
    .nav-trigger:checked~ .clear-menu-btn .bottom {
        top: 50%;
    }
    .nav-trigger:checked~ .clear-menu-btn .top {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 2.6em;
        margin-left: .23em;
        margin-bottom: .2em;
    }
    .nav-trigger:checked~ .clear-menu-btn .bottom {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 2.6em;
        margin-left: .23em;
        margin-bottom: .2em;
    }
    .nav-trigger:checked~ .clear-menu-btn .middle {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    .clear-menu-btn span {
        position: absolute;
        display: block;
        width: 1.5em;
        height: .2em;
        background-color: $navHam;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: -1;
    }
    .clear-menu-btn .top {
        top: 35%;
        margin-left: .75em;
        background-color: $navLines;
        z-index: 1;
        border-radius: 500px;
    }
    .clear-menu-btn .middle {
        top: 50%;
        margin-left: .75em;
        background-color: $navLines;
        z-index: 1;
        border-radius: 500px;
    }
    .clear-menu-btn .bottom {
        top: 65%;
        margin-left: .75em;
        background-color: $navLines;
        z-index: 1;
        border-radius: 500px;
    }
    .clear-menu-btn .circle {
        display: block;
        position: absolute;
        top: 52%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 2.5em;
        height: 2.5em;
        /*background-color: transparent;*/
        border-radius: 50%;
        border: .2em solid $navHam;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        z-index: -1;
    }
    /* Nav Trigger */
    .nav-trigger {
        /* critical styles - hide the checkbox input*/
        position: fixed;
        z-index: 13;
        top: 1em;
        right: 1em;
        height: 4em;
        width: 4em;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    /* Make the Magic Happen */
    #wrapper {
        transition: right .5s;
    }
    .nav-trigger:checked~ #wrapper {
        /*The window*/
        right: 14em;
    }
    /* Without this, the body has excess horizontal scroll when the menu is open */
    body {
        overflow-x: hidden;
    }
}