nav * {
    padding: 0;
    margin: 0;
}

nav a {
    font-family: 'huruf';
    transition: .25s linear;
}


/*NAV:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    /*NAV BAR*/
    #home-ind ~ nav {
        position: absolute;
    }
    nav {
        z-index: 10;
        height: 6em;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $navBackground;
    }

    nav ul {
        list-style: none;
        text-align: center;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        li {
            display: inline-block;

            &:after {
                content: "";
                width: 105%;
                height: .2em;
                background-color: $navTextMain;
                display: block;
            }

            &:nth-child(3):after {
                width: 100%;
            }

            &:nth-child(4):after {
                width: 0;
                height: 0;
            }

            &:last-child:after {
                width: 100%;
            }
            &:nth-child(4) {
                margin: 0 1.5em;
            }
        }
    }

    /*text*/
    nav a {
        font-size: 2.5em;

        @media only screen and (max-width: 1300px) {
            font-size: 2em !important;
        }
        margin: 0 1em;
        text-decoration: none;
        &:hover {
            color: $navTextAlt;
        }
        &.currentPage {
            color: $navTextAlt;
        }
    }

    .nav-open,
    .nav-open-img,
    nav > a {
        display: none;
    }
}

/*NAV:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    /*NAV BAR*/
    .mobile-nav-spacer {
        height: 4em;
        width: 100%;
    }

    nav {
        background-color: $navNarrow;
        height: 4em;
        width: 100%;
        position: fixed;
        z-index: 20;
        text-align: center;
        line-height: 2.5em;

        & > a {
            font-size: 2.5em;
            text-decoration: none;
            margin: .3em 0;
            display: block;
            color: $navTextMain;
        }
    }

    nav ul {
        list-style: none;
        display: block;
        width: 100%;
        background-color: $navNarrow;
        height: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;

        li {
            width: 100%;

            a {
                font-size: 2.5em;
                text-decoration: none;
                color: $navTextAlt;

                &:hover {
                    color: $navTextMain;
                }
                &.currentPage {
                    color: $navTextMain;
                }
            }
        }
    }

    .nav-open {
        position: fixed;
        top: .5em;
        right: 1em;
        height: 3em;
        width: 3em;
        z-index: 40;
        opacity: 0;
        cursor: pointer;

        &:checked ~ nav > ul {
            height: calc( 100vh - 4em);
            overflow: auto;
        }

        &:checked ~ .nav-open-img {
            transform: rotate(180deg);
        }
    }

    .nav-open-img {
        position: fixed;
        top: .5em;
        right: 1em;
        z-index: 30;
        height: 3em;
        width: 3em;
        transition: 1s ease-in-out;
    }

    .wide {
        display: none;
    }
}
