//Globla Variables
$fontColor: #5B5B5B; //updated
$hoverColor:#d9c53f; //updated
//main Variables
$mainColor: $hoverColor; //updated
$mainColorShade: #cab83b; //updated
$mainAccent: #594444; //updsated
//navigation Variables
$navHoverColor: #666a6a; //updtaed
$navText: white; //updated
$navHam: $navHoverColor;
$navLines: #9ba0a0;
//footer Variables
$footerAccent: #262626;
$footerColor: #111111;
$footerText: $navLines; //updated
//resources Variables
$cardBackgrounds: #D6D6D6;
$buttonHover: #262626;