//Globla Variables
$fontColor: #5B5B5B; //updated
$hoverColor: yellow; //updated
//nav
$navBackground: rgba(255, 255, 255, 0.70);
$navNarrow: #594444;
//font colors
$navTextMain: #FFFF00;
$navTextAlt: #548f42; //62a84d;
//main Variables
$mainColor: $hoverColor; //updated
$mainColorShade: #cab83b; //updated
$mainAccent: #594444; //updsated
//navigation Variables
$navHoverColor: #666a6a; //updtaed
$navText: white; //updated
$navHam: $navHoverColor;
$navLines: #9ba0a0;
//footer Variables
$footerAccent: #262626;
$footerColor: #111111;
$footerText: $navLines; //updated
//resources Variables
$cardBackgrounds: #D6D6D6;
$buttonHover: #262626;
