//Globla Variables
$fontColor: #5B5B5B; //updated
$hoverColor: #548f42; //updated
//nav
$navBackground: rgba(255, 255, 255, 0.70);
$navNarrow: #594444;
//nav font colors
$navTextMain: #FFFF00;
$navTextAlt: #548f42; //62a84d;
//footer
$footer: $navNarrow;
//foter font colors
$footerTextMain: $navTextAlt;
$pathColor: #FFFF00;
//other vars
$cardBackground: #D6D6D6;
