/*SCREEN SIZE:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    main,
    .globalWidth {
        width: 70%;
    }
}


/*SCREEN SIZE:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    main,
    .globalWidth {
        width: 90%;
    }
}

main,
.globalWidth {
    margin-left: auto;
    margin-right: auto;
}