/**********BEGIN HOME PAGE**********/


/*SEPERATE SLIDESHOW FROM CONTENT, MORE LIKE USED EVERYWHERE*/

.seperator {
    width: 100%;
    height: 1em;
}


/*TEXT*/

#mainHome p {
    text-align: center;
}


/**********END HOME PAGE**********/